/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
 
}
/*----------------utility classes---------------*/

.container {
  max-width: 960px;
  width: 800vw;
  min-height: 100vh;
  margin: 40px auto;
}

/*----------------responsive images---------------*/
img {
  max-width: 100%;
}

/* ---------------Global Style----------------- */

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

header.primary {
  color: white;
  position: absolute;
  text-shadow: 1px 1px 1px #000000;
  display: flex;
  flex-direction: column;
}

header.primary h1 {
  font-size: 90px;
  padding-top: 130px;
  margin-left: 20px;
  margin-bottom: 0;
}
header.primary h2 {
  color: white;
  margin-left: 25px;
  margin-top: 0;
  font-size: 40px;
}

nav.primary {
  color: white;
  width: 100%;
}
nav.primary ul {
  width: 100%;
  position: absolute;
  color: white;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 23px;
}
nav.primary li {
  color: white;
  margin-right: 20px;
  text-shadow: 1px 1px 1px #000000;
}
nav.primary a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
nav.primary a:hover {
  color: yellow;
}

header.secondary {
  color: white;
  text-shadow: 1px 1px 1px #000000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
}

header.secondary h1 {
  font-size: 90px;
  padding-top: 50px;
  margin-left: 20px;
  margin-bottom: 0;
}
header.secondary h2 {
  color: white;
  margin-left: 25px;
  margin-top: 0;
  font-size: 40px;
}

nav.secondary {
  color: white;
  width: 100%;
  position: absolute;
}
nav.secondary ul {
  width: 100%;
  position: absolute;
  color: white;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
nav.secondary li {
  color: white;
  margin-right: 20px;
  text-shadow: 1px 1px 1px #000000;
}
nav.secondary a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
nav.secondary a:hover {
  color: yellow;
}

section {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
}
img {
  margin-top: 50px;
}

footer {
  background-color: #172618;
  color: #ffffff;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  
}
footer h6 {
  padding: 20px;
  margin: 0;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
}

footer h6 a {
  color: #ffffff;
  text-decoration: underline;
  margin-top: 20px;
  padding-bottom: 20px;
}
