/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*----------------utility classes---------------*/

.container {
  max-width: 960px;
  width: 800vw;
  margin: 40px auto;
}

/*----------------responsive images---------------*/
img {
  max-width: 100%;
}

/* ---------------Global Style----------------- */

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header.primary {
  color: white;
  position: absolute;
  font-size: 35px;
}
nav.primary {
  color: white;
  
}
nav.primary ul {
  position: absolute;
  color: white;
  list-style: none;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
}
nav.primary li {
   margin-right: 20px;
  color: white;
}
nav.primary a {
  text-decoration: none;
  color: white;
}
