/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*----------------utility classes---------------*/

.container {
  max-width: 960px;
  width: 800vw;
  margin: 40px auto;
}

/*----------------responsive images---------------*/
img {
  max-width: 100%;
}

/* ---------------Global Style----------------- */

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

body {
}

header.primary {
  color: white;
  position: absolute;
  font-size: 35px;
}
nav.primary {
  color: white;
  position: absolute;
}
nav.primary ul {
  color: white;
  list-style: none;
}
nav.primary ul li a {
  color: white;
  text-decoration: none;
}
